<nav class="panel">
  <p class="panel-heading">
    Usuários
  </p>

  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search">
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>

  <p class="panel-tabs">
    <a class="is-active">Todos</a>
    <a>Online</a>
    <a>Offline</a>
  </p>

  <% users.each do |user| %>
    <a class="panel-block" data-user-id=<%= user.id %>>
      <span class="panel-icon">
        <i class="fa fa-user"></i>
      </span>
      <%= user.email %>
    </a>
  <% end %>
  
</nav>